# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
#text editor files
*.swp
.svn

#compiled files
*.o
*.pyc
apyc-*
apyc
parser-sentinel
horn-*

#pyunparse

